/*.container {
  width: 100%;
  border-radius: 25px;
  padding: 30px 20px;
}*/
body{
    background-image: url('./back.webp');
    background-size: cover;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}
.title-box {
  border: 3px solid #1e5b7f;
  color: #1e5b7f;
  padding: 15px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
    width: fit-content;
}

.approved-box {
     border: 3px solid #1e5b7f;
  color: #1e5b7f;
  padding: 15px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
    width: fit-content;
  }
  .badges {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.badge {
  width: 180px;
}
.intern-box {
     border: 3px solid #1e5b7f;
  color: #1e5b7f;
  padding: 15px;
  border-radius: 15px;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto;
    width: fit-content;
    text-align: center;
 
}
.details-box {
  background: #eef5f8;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 18px;
  text-align: center;
  width: fit-content;
  margin-left: 41%;
}
.details-box p {
  margin: 10px 0;
}
.cert-image {
  margin-top: 25px;
}

.cert-image img {
  width: 90%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin-left: 29%;
}
.contact-box{
  background: #555c63;
  color: white;
  padding: 30px 15px;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  margin: 10px 0;
}